.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.blue__hover {
  transition: 0.5s ease-in-out;

  &:hover {
    background: #224479;
    color: #fff !important;
  }
}

.light-blue__hover {
  transition: 0.5s ease-in-out;
  &:hover {
    background: #dee3eb;
    border: 1px solid transparent;
  }
}
